LOCALZET_BIND_ADDR=127.0.0.1:8080
LOCALZET_ISSUER=http://127.0.0.1:8080
LOCALZET_DATABASE_URL=postgres://localzet:localzet@127.0.0.1:5432/localzet_security
LOCALZET_DATABASE_MAX_CONNECTIONS=10
LOCALZET_DATABASE_RUN_MIGRATIONS=true
LOCALZET_BOOTSTRAP_TENANT_ID=11111111-1111-1111-1111-111111111111
LOCALZET_BOOTSTRAP_TENANT_SLUG=local-dev
LOCALZET_BOOTSTRAP_TENANT_DISPLAY_NAME=Local Development
LOCALZET_BOOTSTRAP_CLIENT_ID=web-client
LOCALZET_BOOTSTRAP_REDIRECT_URI=http://127.0.0.1:3000/callback
LOCALZET_SIGNING_KEY_ID=main-rs256
LOCALZET_SIGNING_PRIVATE_KEY_PATH=deploy/keys/dev-private.pem
LOCALZET_SIGNING_PUBLIC_KEY_PATH=deploy/keys/dev-public.pem
RUST_LOG=info,tower_http=info
